# Diretórios e arquivos do Python
__pycache__/
/source
.cache/
*.py[cod]
*.pyo
*.pyd
*.whl
.env
.venv
venv/
ENV/
env/

# Arquivos do VS Code
.vscode/

# Arquivos de log
*.log

# Arquivos de sistema operacional (MacOS, Windows)
.DS_Store
Thumbs.db

# Dependências do AutoGen
autoenv/
